<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full py-12 px-10 h-screen text-white bg-zinc-900">
        <form action="/login" method="post">
            <h2 class="tracking-tighter text-blue-400 font-semibold text-2xl">Login Into Your Account</h2>
            <input class="px-3 mt-3 py-2 rounded-md bg-trasparent border-2 border-zinc-700 outline-none" type="email" name="email" placeholder="Enter Your Email : ">
            <input class="px-3 mt-3 py-2 rounded-md bg-trasparent border-2 border-zinc-700 outline-none" type="password" name="password" placeholder="Enter Your Password : ">
            <input class="px-3 mt-3 py-2 rounded-md bg-blue-400 border-2" type="submit" value="Login">
        </form>
    </div>
</body>
</html>